* {font-size:1em;line-height:1em;text-decoration:none;margin:0;padding:0;box-sizing:border-box}h1,h2,h3,h4,h5,h6{font-weight:normal}ol,ul,li{list-style-type:none}table{border-collapse:collapse}
        
html, body {
	width: 100%;
	height: 100vh;
	height: -webkit-fill-available;
}

html {
	font-size: 2vh;
	position: fixed;
	left: 0;
	top: 0;
}

html[data-players="2"] {font-size: 4vh}
html[data-players="3"] {font-size: 3vh}
html[data-players="4"] {font-size: 4vh}
html[data-players="5"] {font-size: 3vh}
html[data-players="6"] {font-size: 3vh}
html[data-players="7"] {font-size: 3vh}
html[data-players="8"] {font-size: 3vh}
html[data-players="9"] {font-size: 3vh}
html[data-players="10"] {font-size: 3vh}
html[data-players="11"] {font-size: 3vh}
html[data-players="12"] {font-size: 3vh}
        
body {
	font: 0 arial, sans-serif;
	background: green;
	overflow: hidden;
	user-select: none;
	position: relative;
}

body::after {
	content: "";
	background: url(texture.png) top left repeat;
	width: 100%;
	height: 100%;
	box-shadow: inset 0 0 5rem rgb(0 0 0 / 75%);
	mix-blend-mode: multiply;
	position: absolute;
	top: 0;
	left: 0;
}

main {
	width: 100%;
	height: 100%;
	height: -webkit-fill-available;
	padding: 0.5rem;
	overflow: auto;
	display: flex;
	justify-content: space-evenly;
	position: relative;
	z-index: 10;
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, auto);
    	grid-auto-flow: row;
}

html[data-players="4"] .grid {grid-template-columns: repeat(2, auto)}
html[data-players="5"] .grid {grid-template-columns: repeat(2, auto)}
html[data-players="6"] .grid {grid-template-columns: repeat(2, auto)}
html[data-players="7"] .grid {grid-template-columns: repeat(3, auto)}
html[data-players="8"] .grid {grid-template-columns: repeat(3, auto)}
html[data-players="9"] .grid {grid-template-columns: repeat(3, auto)}
html[data-players="10"] .grid {grid-template-columns: repeat(4, auto)}
html[data-players="11"] .grid {grid-template-columns: repeat(4, auto)}
html[data-players="12"] .grid {grid-template-columns: repeat(4, auto)}

.player {
	text-align: center;
	align-self: center;
	min-width: calc(100vw / 5);
	padding: 0.5rem;
	position: relative;
}

h2 {
	font: 1rem/1 georgia, times, serif;
	color: #fff;
	margin: 0 0 1rem;
	filter: opacity(0.33);
	mix-blend-mode: overlay;
	transition: filter 0.6s ease;
	position: relative;
}

.over .player:not(.winner) h2 {filter: opacity(0)}

.done h2 em {
	transform: translateX(-50%);
	position: absolute;
	top: 0;
	left: 50%;
}

.hand {
	text-align: center;
	display: inline-block;
	position: relative;
}

.card {
	font-size: 1rem;
	background: center center no-repeat white;
	background-size: 100%;
	width: 2.5em;
	height: 3.5em;
	display: inline-grid;
	place-content: center;
	border-radius: 0.1em;
	box-shadow: 0 0 0.5em rgb(0 0 0 / 10%);
	position: relative;
}

.card:last-child {z-index: 5}

.card ~ .card {
	transition: filter 0.4s ease, transform 0.4s ease;
	position: absolute;
	top: 0;
	left: 0;
}

.card ~ .card[style] {
	filter: opacity(0);
	transform: translateY(0);
}

.card:nth-child(2) {transform: translateY(0.4em)}
.card:nth-child(3) {transform: translateY(0.8em)}
.card:nth-child(4) {transform: translateY(1.2em)}
.card:nth-child(5) {transform: translateY(1.6em)}
.card:nth-child(6) {transform: translateY(2em)}
.card:nth-child(7) {transform: translateY(2.4em)}
.card:nth-child(8) {transform: translateY(2.8em)}

.winner .card {transition-delay: 0s, 1.75s}

.winner .card:nth-child(2) {transform: translateY(1.2em)}
.winner .card:nth-child(3) {transform: translateY(2.4em)}
.winner .card:nth-child(4) {transform: translateY(3.6em)}
.winner .card:nth-child(5) {transform: translateY(4.8em)}
.winner .card:nth-child(6) {transform: translateY(6em)}
.winner .card:nth-child(7) {transform: translateY(7.2em)}
.winner .card:nth-child(8) {transform: translateY(8.4em)}

.card::before,
.card::after {
	font-size: 0.5em;
	line-height: 1;
	word-break: break-all;
	width: 1em;
	padding: 0.25em;
	position: absolute;
}

.card::before {
	top: 0;
	left: 0;
}

.card::after {
	transform: rotate(180deg);
	bottom: 0;
	right: 0;
}

.card[class^=d],
.card[class^=h] {color: red}

.c2::before, .c2::after {content: "2♣"}
.c3::before, .c3::after {content: "3♣"}
.c4::before, .c4::after {content: "4♣"}
.c5::before, .c5::after {content: "5♣"}
.c6::before, .c6::after {content: "6♣"}
.c7::before, .c7::after {content: "7♣"}
.c8::before, .c8::after {content: "8♣"}
.c9::before, .c9::after {content: "9♣"}
.c10::before, .c10::after {content: "10♣"}
.cj::before, .cj::after {content: "J♣"}
.cq::before, .cq::after {content: "Q♣"}
.ck::before, .ck::after {content: "K♣"}
.ca::before, .ca::after {content: "A♣"}

.d2::before, .d2::after {content: "2♦"}
.d3::before, .d3::after {content: "3♦"}
.d4::before, .d4::after {content: "4♦"}
.d5::before, .d5::after {content: "5♦"}
.d6::before, .d6::after {content: "6♦"}
.d7::before, .d7::after {content: "7♦"}
.d8::before, .d8::after {content: "8♦"}
.d9::before, .d9::after {content: "9♦"}
.d10::before, .d10::after {content: "10♦"}
.dj::before, .dj::after {content: "J♦"}
.dq::before, .dq::after {content: "Q♦"}
.dk::before, .dk::after {content: "K♦"}
.da::before, .da::after {content: "A♦"}

.h2::before, .h2::after {content: "2♥"}
.h3::before, .h3::after {content: "3♥"}
.h4::before, .h4::after {content: "4♥"}
.h5::before, .h5::after {content: "5♥"}
.h6::before, .h6::after {content: "6♥"}
.h7::before, .h7::after {content: "7♥"}
.h8::before, .h8::after {content: "8♥"}
.h9::before, .h9::after {content: "9♥"}
.h10::before, .h10::after {content: "10♥"}
.hj::before, .hj::after {content: "J♥"}
.hq::before, .hq::after {content: "Q♥"}
.hk::before, .hk::after {content: "K♥"}
.ha::before, .ha::after {content: "A♥"}

.s2::before, .s2::after {content: "2♠"}
.s3::before, .s3::after {content: "3♠"}
.s4::before, .s4::after {content: "4♠"}
.s5::before, .s5::after {content: "5♠"}
.s6::before, .s6::after {content: "6♠"}
.s7::before, .s7::after {content: "7♠"}
.s8::before, .s8::after {content: "8♠"}
.s9::before, .s9::after {content: "9♠"}
.s10::before, .s10::after {content: "10♠"}
.sj::before, .sj::after {content: "J♠"}
.sq::before, .sq::after {content: "Q♠"}
.sk::before, .sk::after {content: "K♠"}
.sa::before, .sa::after {content: "A♠"}

.c10::before, .c10::after,
.d10::before, .d10::after,
.h10::before, .h10::after,
.s10::before, .s10::after {width: 1.5em}

.card span {
	font-size: 1.5rem;
	transform: translateY(-0.1rem);
}

.card[class^=c] span::after {content: "♣"}
.card[class^=d] span::after {content: "♦"}
.card[class^=h] span::after {content: "♥"}
.card[class^=s] span::after {content: "♠"}


.actions {
	white-space: nowrap;
	margin: 1rem 0 0;
	filter: opacity(0.25);
	display: block;
	transition: filter 0.6s ease;
	pointer-events: none;
	position: relative;
	z-index: 10;
}

.active .actions {
	filter: none;
	pointer-events: unset;
}

.blackjack .actions,
.done .actions {filter: opacity(0)}

button {
	font: italic 0.35rem georgia, times, serif;
	background: rgb(200 200 200 / 25%);
	color: white;
	width: 4.5em;
	height: 4.5em;
	border-radius: 100%;
	border: none;
	cursor: pointer;
	-webkit-backdrop-filter: blur(6px);
	backdrop-filter: blur(6px);
	transition: background 0.6s ease;
}

button:hover {background: rgb(200 200 200 / 33%)}

button ~ button {margin-left: 0.5rem}

@media (orientation: landscape) {
	html {font-size: 2vw}
	
	html[data-players="2"] {font-size: 7vh}
	html[data-players="3"] {font-size: 7vh}
	html[data-players="4"] {font-size: 5vh}
	html[data-players="5"] {font-size: 5vh}
	html[data-players="6"] {font-size: 5vh}
	html[data-players="7"] {font-size: 5vh}
	html[data-players="8"] {font-size: 5vh}
	html[data-players="9"] {font-size: 5vh}
	html[data-players="10"] {font-size: 5vh}
	html[data-players="11"] {font-size: 5vh}
	html[data-players="12"] {font-size: 5vh}
	
	html[data-players="4"] .grid {grid-template-columns: repeat(4, auto)}
	html[data-players="5"] .grid {grid-template-columns: repeat(4, auto)}
	html[data-players="6"] .grid {grid-template-columns: repeat(4, auto)}
	html[data-players="7"] .grid {grid-template-columns: repeat(4, auto)}
	html[data-players="8"] .grid {grid-template-columns: repeat(4, auto)}
	html[data-players="9"] .grid {grid-template-columns: repeat(6, auto)}
	html[data-players="10"] .grid {grid-template-columns: repeat(6, auto)}
	html[data-players="11"] .grid {grid-template-columns: repeat(6, auto)}
	html[data-players="12"] .grid {grid-template-columns: repeat(6, auto)}
}

@media (orientation: landscape) and (min-width: 1600px) {
	html {font-size: 4vh !important}
}
